In [51]:
import pandas as pd
import datetime
import numpy as np

In [52]:
from transplant.config import (PATH_STATIC_CLEAN, PATH_DYNAMIC_CLEAN, 
DYNAMIC_CATEGORIES, DYNAMIC_HEADERS, STATIC_CATEGORIES)

In [53]:
dynamic = pd.read_csv(PATH_DYNAMIC_CLEAN, parse_dates=['time'])
static = pd.read_csv(PATH_STATIC_CLEAN, parse_dates=['date_sortie_bloc'])

Rapide notebook pour comprendre les différences entre le max date renvoyé par les instruments de mesure et l'heure de transfert au bloc.

In [54]:
# Je trouve 3 dates de sortie de bloc NA pour les patients. 
# On prend l'heure de transfert en réa comme heure de fin de l'opération

static = static[static.date_sortie_bloc.isna() == False][['id_patient', 'date_sortie_bloc', 'heure_transfert_rea']]
static.columns = ['id_patient', 'date_sortie_bloc', 'time']

In [55]:
# On applique la même correction de date que pour date_transplantation

def correct_date_shift(x):
    idx_0h = (x['time'] - x['time'].shift(1)) < timedelta(days=0)  # 0h indexes
    for i in idx_0h.index[idx_0h]:  # loop over all 0h index
        x['time'].loc[i:] = x['time'].loc[i:] + timedelta(days=1)
    return x

static['time_sortie'] = pd.to_datetime(
        static['date_sortie_bloc'].dt.strftime('%Y-%m-%d') + ' ' + static['time'])
static = static.groupby('id_patient').apply(correct_date_shift)
dynamic_max = dynamic.groupby('id_patient').apply(max_ds)

In [66]:
def max_ds(df):
    return df.time.max()

dynamic_max = dynamic_max.reset_index()
dynamic_max.columns = ['id_patient', 'max_dynamic_date']

In [68]:
# On calcule la différence entre le max de la dynamque et la sortie du bloc. 

df = pd.merge(static, dynamic_max, on='id_patient')
df['diff'] = df.max_dynamic_date - df.time_sortie

In [80]:
df['diff'].describe()

count                           353
mean      3080 days 06:04:20.566572
std      10939 days 19:17:58.965075
min               -6 days +01:36:00
25%               -1 days +23:49:00
50%               -1 days +23:59:00
75%                 0 days 00:23:00
max             42709 days 17:57:00
Name: diff, dtype: object

In [85]:
# On trouve 26 valeurs anormales 

df[df['diff'] > pd.Timedelta('100 days')]

,id_patient,date_sortie_bloc,time,time_sortie,max_dynamic_date,diff
20,23,1900-01-01,10:00:00,1900-01-01 10:00:00,2012-04-27 09:56:00,41023 days 23:56:00
21,24,1900-01-02,10:30:00,1900-01-02 10:30:00,2012-04-30 10:25:00,41025 days 23:55:00
44,48,1900-01-01,05:03:00,1900-01-01 05:03:00,2012-11-13 05:03:00,41224 days 00:00:00
60,64,1900-01-02,01:15:00,1900-01-02 01:15:00,2013-02-11 01:06:00,41312 days 23:51:00
63,67,1900-01-01,04:45:00,1900-01-01 04:45:00,2013-02-27 04:45:00,41330 days 00:00:00
79,84,1900-01-02,02:30:00,1900-01-02 02:30:00,2013-05-04 02:20:00,41394 days 23:50:00
80,85,1900-01-01,02:40:00,1900-01-01 02:40:00,2013-05-07 02:49:00,41399 days 00:09:00
102,108,1900-01-02,06:35:00,1900-01-02 06:35:00,2013-10-15 05:59:00,41558 days 23:24:00
107,113,1900-01-01,05:00:00,1900-01-01 05:00:00,2013-11-09 20:06:00,41585 days 15:06:00
109,115,1900-01-01,04:22:00,1900-01-01 04:22:00,2013-11-19 04:20:00,41594 days 23:58:00
124,130,1900-01-02,03:20:00,1900-01-02 03:20:00,2014-02-08 03:13:00,41674 days 23:53:00
136,142,1900-01-01,02:54:00,1900-01-01 02:54:00,2014-05-01 02:49:00,41757 days 23:55:00
140,146,1900-01-02,02:30:00,1900-01-02 02:30:00,2014-05-18 18:31:00,41774 days 16:01:00
141,147,1900-01-01,06:48:00,1900-01-01 06:48:00,2014-05-28 06:50:00,41785 days 00:02:00
143,149,1900-01-01,09:20:00,1900-01-01 09:20:00,2014-07-13 07:05:00,41830 days 21:45:00
156,163,1900-01-01,08:05:00,1900-01-01 08:05:00,2014-09-20 13:41:00,41900 days 05:36:00
161,170,1900-01-01,01:20:00,1900-01-01 01:20:00,2014-11-10 01:16:00,41950 days 23:56:00
187,200,1900-01-02,05:00:00,1900-01-02 05:00:00,2015-05-08 05:19:00,42129 days 00:19:00
195,208,1900-01-01,04:47:00,1900-01-01 04:47:00,2015-06-27 04:48:00,42180 days 00:01:00
199,213,1900-01-01,01:15:00,1900-01-01 01:15:00,2015-07-18 01:13:00,42200 days 23:58:00
210,224,1900-01-01,04:00:00,1900-01-01 04:00:00,2015-10-11 03:58:00,42285 days 23:58:00
213,227,1900-01-01,13:53:00,1900-01-01 13:53:00,2015-10-19 16:41:00,42294 days 02:48:00
222,236,1900-01-01,03:15:00,1900-01-01 03:15:00,2015-12-13 02:58:00,42348 days 23:43:00
248,264,1900-01-02,05:45:00,1900-01-02 05:45:00,2016-05-06 05:19:00,42492 days 23:34:00
259,275,1900-01-02,02:10:00,1900-01-02 02:10:00,2016-06-23 22:57:00,42541 days 20:47:00
265,304,1900-01-01,02:20:00,1900-01-01 02:20:00,2016-12-07 20:17:00,42709 days 17:57:00