In [1]:
from transplant.visualization.graph import *
from transplant.config import * 
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(PATH_DYNAMIC_CLEAN)

In [5]:
df = df[DYNAMIC_HEADERS]

In [7]:
def rolling_mean(df, feature, window, min_periods=None, type_agg='mean'):
    return df[feature].rolling(window=window, min_periods=min_periods).agg(type_agg)

In [12]:
?df.rolling

In [17]:
df[df['id_patient'] == 1]

,id_patient,time,B.I.S,BIS SR,DC,ETCO2,FC,FR,FiO2,PAPdia,...,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,SpO2,SvO2 (m),Temp,VT
19420,1,2012-01-05 02:57:00,NaN,NaN,NaN,0.0,110,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,86,NaN,0.000000,0.0
19421,1,2012-01-05 02:58:00,NaN,NaN,NaN,0.0,0,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0,NaN,0.000000,0.0
19422,1,2012-01-05 02:59:00,NaN,NaN,NaN,0.0,99,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,92,NaN,0.000000,0.0
19423,1,2012-01-05 03:00:00,NaN,NaN,NaN,0.0,94,0.0,22.0,0.0,...,0.0,76.0,100.0,137.0,1.0,1.0,98,NaN,0.000000,0.0
19424,1,2012-01-05 03:01:00,NaN,NaN,NaN,0.0,94,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,98,NaN,0.000000,0.0
19425,1,2012-01-05 03:02:00,NaN,NaN,NaN,0.0,93,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,98,NaN,0.000000,0.0
19426,1,2012-01-05 03:03:00,NaN,NaN,NaN,0.0,92,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,97,NaN,0.000000,0.0
19427,1,2012-01-05 03:04:00,NaN,NaN,NaN,0.0,89,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,98,NaN,0.000000,0.0
19428,1,2012-01-05 03:05:00,NaN,NaN,NaN,0.0,89,0.0,22.0,0.0,...,0.0,75.0,98.0,131.0,1.0,1.0,98,NaN,0.000000,0.0
19429,1,2012-01-05 03:06:00,NaN,NaN,NaN,0.0,89,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,99,NaN,0.000000,0.0
19430,1,2012-01-05 03:07:00,NaN,NaN,NaN,0.0,88,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,98,NaN,0.000000,0.0
19431,1,2012-01-05 03:08:00,NaN,NaN,NaN,0.0,87,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,99,NaN,0.000000,0.0
19432,1,2012-01-05 03:09:00,NaN,NaN,NaN,0.0,89,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,97,NaN,0.000000,0.0
19433,1,2012-01-05 03:10:00,NaN,NaN,NaN,0.0,92,0.0,22.0,0.0,...,0.0,80.0,101.0,131.0,1.0,1.0,97,NaN,0.000000,0.0
19434,1,2012-01-05 03:11:00,NaN,NaN,NaN,0.0,93,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,97,NaN,0.000000,0.0
19435,1,2012-01-05 03:12:00,NaN,NaN,NaN,0.0,93,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,97,NaN,0.000000,0.0
19436,1,2012-01-05 03:13:00,NaN,NaN,NaN,0.0,95,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0,NaN,0.000000,0.0
19437,1,2012-01-05 03:14:00,NaN,NaN,NaN,0.0,97,0.0,22.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19438,1,2012-01-05 03:15:00,NaN,NaN,NaN,0.0,92,0.0,36.0,0.0,...,1.0,70.0,95.0,130.0,2.0,1.0,0,NaN,0.000000,0.0
19439,1,2012-01-05 03:16:00,NaN,NaN,NaN,0.0,90,0.0,84.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19440,1,2012-01-05 03:17:00,NaN,NaN,NaN,0.0,89,0.0,93.0,0.0,...,1.0,70.0,91.0,131.0,2.0,1.0,0,NaN,0.000000,0.0
19441,1,2012-01-05 03:18:00,NaN,NaN,NaN,0.0,87,0.0,96.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19442,1,2012-01-05 03:19:00,NaN,NaN,NaN,0.0,82,0.0,97.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19443,1,2012-01-05 03:20:00,NaN,NaN,NaN,0.0,81,0.0,98.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19444,1,2012-01-05 03:21:00,NaN,NaN,NaN,0.0,79,0.0,98.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19445,1,2012-01-05 03:22:00,NaN,NaN,NaN,0.0,73,0.0,98.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19446,1,2012-01-05 03:23:00,NaN,NaN,NaN,0.0,67,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,0.000000,0.0
19447,1,2012-01-05 03:24:00,NaN,NaN,NaN,0.0,66,0.0,99.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,0,NaN,0.000000,0.0
19448,1,2012-01-05 03:25:00,NaN,NaN,NaN,0.0,62,0.0,99.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,93,NaN,0.000000,0.0
19449,1,2012-01-05 03:26:00,NaN,NaN,NaN,0.0,62,0.0,99.0,0.0,...,1.0,0.0,0.0,0.0,2.0,1.0,93,NaN,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,1,2012-01-05 12:07:00,NaN,NaN,NaN,5.4,78,15.0,56.0,21.0,...,6.0,0.0,0.0,0.0,31.0,14.0,99,NaN,38.099998,355.0
19971,1,2012-01-05 12:08:00,NaN,NaN,NaN,5.4,78,15.0,56.0,20.0,...,6.0,0.0,0.0,0.0,31.0,14.0,99,NaN,38.099998,356.0
19972,1,2012-01-05 12:09:00,NaN,NaN,NaN,5.3,82,15.0,56.0,21.0,...,6.0,0.0,0.0,0.0,31.0,14.0,99,NaN,38.099998,341.0
19973,1,2012-01-05 12:10:00,NaN,NaN,NaN,5.5,83,15.0,56.0,22.0,...,6.0,0.0,0.0,0.0,31.0,14.0,99,NaN,38.099998,336.0
19974,1,2012-01-05 12:11:00,NaN,NaN,NaN,5.4,84,15.0,56.0,22.0,...,6.0,0.0,0.0,0.0,31.0,14.0,100,NaN,38.099998,338.0
19975,1,2012-01-05 12:12:00,NaN,NaN,NaN,5.5,88,15.0,56.0,22.0,...,4.0,0.0,0.0,0.0,9.0,4.0,99,NaN,0.000000,6.0
19976,1,2012-01-05 12:13:00,NaN,NaN,NaN,5.5,94,14.0,56.0,23.0,...,5.0,0.0,0.0,0.0,34.0,15.0,98,NaN,0.000000,377.0
19977,1,2012-01-05 12:14:00,NaN,NaN,NaN,5.4,99,15.0,56.0,24.0,...,5.0,0.0,0.0,0.0,37.0,16.0,0,NaN,0.000000,423.0
19978,1,2012-01-05 12:15:00,NaN,NaN,NaN,5.4,99,15.0,56.0,25.0,...,6.0,0.0,0.0,0.0,37.0,16.0,0,NaN,0.000000,427.0
19979,1,2012-01-05 12:16:00,NaN,NaN,NaN,5.4,98,15.0,56.0,25.0,...,6.0,0.0,0.0,0.0,36.0,16.0,0,NaN,0.000000,427.0
19980,1,2012-01-05 12:17:00,NaN,NaN,NaN,5.4,103,15.0,56.0,24.0,...,5.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,423.0
19981,1,2012-01-05 12:18:00,NaN,NaN,NaN,5.4,99,15.0,56.0,24.0,...,6.0,0.0,0.0,0.0,35.0,15.0,0,NaN,0.000000,424.0
19982,1,2012-01-05 12:19:00,NaN,NaN,NaN,5.4,100,15.0,56.0,24.0,...,5.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,420.0
19983,1,2012-01-05 12:20:00,NaN,NaN,NaN,5.3,97,15.0,56.0,23.0,...,5.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,424.0
19984,1,2012-01-05 12:21:00,NaN,NaN,NaN,5.3,97,15.0,56.0,23.0,...,6.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,427.0
19985,1,2012-01-05 12:22:00,NaN,NaN,NaN,5.3,97,15.0,56.0,23.0,...,6.0,0.0,0.0,0.0,38.0,16.0,0,NaN,0.000000,420.0
19986,1,2012-01-05 12:23:00,NaN,NaN,NaN,5.3,99,15.0,56.0,16.0,...,5.0,0.0,0.0,0.0,37.0,16.0,0,NaN,0.000000,429.0
19987,1,2012-01-05 12:24:00,NaN,NaN,NaN,5.2,100,15.0,56.0,0.0,...,6.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,427.0
19988,1,2012-01-05 12:25:00,NaN,NaN,NaN,5.4,100,15.0,57.0,0.0,...,6.0,0.0,0.0,0.0,35.0,16.0,0,NaN,0.000000,376.0
19989,1,2012-01-05 12:26:00,NaN,NaN,NaN,5.4,102,15.0,57.0,0.0,...,6.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,411.0
19990,1,2012-01-05 12:27:00,NaN,NaN,NaN,5.3,100,15.0,57.0,0.0,...,6.0,0.0,0.0,0.0,35.0,15.0,0,NaN,0.000000,414.0
19991,1,2012-01-05 12:28:00,NaN,NaN,NaN,5.3,100,15.0,58.0,0.0,...,6.0,0.0,0.0,0.0,37.0,16.0,0,NaN,0.000000,415.0
19992,1,2012-01-05 12:29:00,NaN,NaN,NaN,5.3,99,15.0,58.0,0.0,...,6.0,0.0,0.0,0.0,36.0,16.0,0,NaN,0.000000,416.0
19993,1,2012-01-05 12:30:00,NaN,NaN,NaN,5.3,0,15.0,58.0,0.0,...,5.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,417.0
19994,1,2012-01-05 12:31:00,NaN,NaN,NaN,5.3,0,15.0,58.0,0.0,...,6.0,0.0,0.0,0.0,36.0,15.0,0,NaN,0.000000,411.0
19995,1,2012-01-05 12:32:00,NaN,NaN,NaN,5.4,0,15.0,58.0,0.0,...,6.0,0.0,0.0,0.0,37.0,16.0,0,NaN,0.000000,415.0
19996,1,2012-01-05 12:33:00,NaN,NaN,NaN,5.3,0,15.0,58.0,0.0,...,6.0,0.0,0.0,0.0,38.0,16.0,0,NaN,0.000000,412.0
19997,1,2012-01-05 12:34:00,NaN,NaN,NaN,6.0,0,15.0,58.0,0.0,...,4.0,0.0,0.0,0.0,17.0,7.0,0,NaN,0.000000,118.0
19998,1,2012-01-05 12:35:00,NaN,NaN,NaN,5.3,0,13.0,58.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0,NaN,0.000000,47.0
19999,1,2012-01-05 12:36:00,NaN,NaN,NaN,0.0,0,3.0,59.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0,NaN,0.000000,0.0

In [15]:
pd.melt(df, id_vars = ['id_patient', 'time']).groupby(['id_patient', 'variable']).rolling(5, min_periods =1, on='time').value.mean().reset_index()

         id_patient variable                 time  value
0                 1    B.I.S  2012-01-05 02:57:00    NaN
1                 1    B.I.S  2012-01-05 02:58:00    NaN
2                 1    B.I.S  2012-01-05 02:59:00    NaN
3                 1    B.I.S  2012-01-05 03:00:00    NaN
4                 1    B.I.S  2012-01-05 03:01:00    NaN
5                 1    B.I.S  2012-01-05 03:02:00    NaN
6                 1    B.I.S  2012-01-05 03:03:00    NaN
7                 1    B.I.S  2012-01-05 03:04:00    NaN
8                 1    B.I.S  2012-01-05 03:05:00    NaN
9                 1    B.I.S  2012-01-05 03:06:00    NaN
10                1    B.I.S  2012-01-05 03:07:00    NaN
11                1    B.I.S  2012-01-05 03:08:00    NaN
12                1    B.I.S  2012-01-05 03:09:00    NaN
13                1    B.I.S  2012-01-05 03:10:00    NaN
14                1    B.I.S  2012-01-05 03:11:00    NaN
15                1    B.I.S  2012-01-05 03:12:00    NaN
16                1    B.I.S  2012-01-05 03:13:00    NaN
17                1    B.I.S  2012-01-05 03:14:00    NaN
18                1    B.I.S  2012-01-05 03:15:00    NaN
19                1    B.I.S  2012-01-05 03:16:00    NaN
20                1    B.I.S  2012-01-05 03:17:00    NaN
21                1    B.I.S  2012-01-05 03:18:00    NaN
22                1    B.I.S  2012-01-05 03:19:00    NaN
23                1    B.I.S  2012-01-05 03:20:00    NaN
24                1    B.I.S  2012-01-05 03:21:00    NaN
25                1    B.I.S  2012-01-05 03:22:00    NaN
26                1    B.I.S  2012-01-05 03:23:00    NaN
27                1    B.I.S  2012-01-05 03:24:00    NaN
28                1    B.I.S  2012-01-05 03:25:00    NaN
29                1    B.I.S  2012-01-05 03:26:00    NaN
...             ...      ...                  ...    ...
6084459         411       VT  2018-06-29 23:37:00  381.8
6084460         411       VT  2018-06-29 23:38:00  380.6
6084461         411       VT  2018-06-29 23:39:00  385.4
6084462         411       VT  2018-06-29 23:40:00  386.0
6084463         411       VT  2018-06-29 23:41:00  387.4
6084464         411       VT  2018-06-29 23:42:00  385.8
6084465         411       VT  2018-06-29 23:43:00  384.2
6084466         411       VT  2018-06-29 23:44:00  380.0
6084467         411       VT  2018-06-29 23:45:00  306.2
6084468         411       VT  2018-06-29 23:46:00  276.2
6084469         411       VT  2018-06-29 23:47:00  250.8
6084470         411       VT  2018-06-29 23:48:00  233.0
6084471         411       VT  2018-06-29 23:49:00  215.6
6084472         411       VT  2018-06-29 23:50:00  262.2
6084473         411       VT  2018-06-29 23:51:00  278.6
6084474         411       VT  2018-06-29 23:52:00  284.6
6084475         411       VT  2018-06-29 23:53:00  283.0
6084476         411       VT  2018-06-29 23:54:00  263.8
6084477         411       VT  2018-06-29 23:55:00  253.8
6084478         411       VT  2018-06-29 23:56:00  229.4
6084479         411       VT  2018-06-29 23:57:00  212.6
6084480         411       VT  2018-06-29 23:58:00  204.2
6084481         411       VT  2018-06-29 23:59:00  208.8
6084482         411       VT  2018-06-30 00:00:00  211.2
6084483         411       VT  2018-06-30 00:01:00  175.4
6084484         411       VT  2018-06-30 00:02:00  136.0
6084485         411       VT  2018-06-30 00:03:00   89.6
6084486         411       VT  2018-06-30 00:04:00   45.2
6084487         411       VT  2018-06-30 00:05:00    3.6
6084488         411       VT  2018-06-30 00:06:00    0.0

[6084489 rows x 4 columns]