In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [2]:
from transplant.data.dataset import Dataset
from transplant.config import *

In [3]:
dataset = Dataset()

In [4]:
train, test = dataset.get_static()
data_static = pd.concat([train, test])

/home/karine/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
train, test = dataset.get_dynamic()
data_dynamic= pd.concat([train, test])

In [6]:
data_static.head()

,ATCD_chirugicaux,ATCD_medicaux,Age_donor,Aspirations_donor,BMI_donor,CMV_donneur,CMV_receveur,Donneur_CPT,EBV_donneur,Insuffisance_renale,...,preoperative_mechanical_ventilation,preoperative_pulmonary_hypertension,preoperative_vasopressor,retransplant,sexe,super_urgence,target,thoracic_surgery_history,time_on_waiting_liste,transplanted_twice_during_study_period
194,Non,Mucoviscidose diagnostiquée à l'âge de 12 ans ...,45,3,25.351541,Positif,Positif,6650.0,NaN,0,...,0.0,0.0,0.0,0,0,0,1.0,0,32,0
313,NaN,ep 2012 \nRGO,60,1,NaN,Négatif,Positif,5100.0,Positif,0,...,0.0,0.0,0.0,0,1,0,0.0,0,18,0
52,- appendicectomie\n- reprise de cicatrices de ...,"- Mucoviscidose homozygote DeltaF508, DDB et i...",21,1,20.569330,Négatif,Négatif,6100.0,NaN,0,...,0.0,1.0,0.0,0,0,0,1.0,1,16,0
132,Appendicectomie,Mucoviscidose découverte à l'âge de 11 ans. Ox...,52,1,24.930748,Négatif,Positif,8100.0,NaN,0,...,0.0,0.0,0.0,0,1,0,1.0,0,44,0
22,NaN,- mucoviscidose homozygote DeltaF508 diagnosti...,20,3,29.150514,NaN,NaN,7400.0,NaN,0,...,0.0,1.0,0.0,0,0,0,0.0,0,6,0

In [7]:
data_static.columns

Index(['ATCD_chirugicaux', 'ATCD_medicaux', 'Age_donor', 'Aspirations_donor',
       'BMI_donor', 'CMV_donneur', 'CMV_receveur', 'Donneur_CPT',
       'EBV_donneur', 'Insuffisance_renale', 'LAS', 'PAPS', 'PFO', 'PF_donor',
       'Poids', 'Poids_donor', 'RX_donor', 'Sex_donor', 'Tabagisme_donor',
       'Taille', 'Taille_donor', 'age', 'body_mass_index',
       'date_transplantation', 'diabetes', 'heure_arrivee_bloc', 'id_patient',
       'other_organ_transplantation', 'oto_score', 'pathologie',
       'plasmapherese', 'preoperative_ECMO', 'preoperative_ICU',
       'preoperative_mechanical_ventilation',
       'preoperative_pulmonary_hypertension', 'preoperative_vasopressor',
       'retransplant', 'sexe', 'super_urgence', 'target',
       'thoracic_surgery_history', 'time_on_waiting_liste',
       'transplanted_twice_during_study_period'],
      dtype='object')

In [8]:
data_dynamic.columns

Index(['id_patient', 'time', 'B.I.S', 'BIS SR', 'DC', 'ETCO2', 'FC', 'FR',
       'FiO2', 'PAPdia', 'PAPmoy', 'PAPsys', 'PASd', 'PASm', 'PASs',
       'PEEPtotal', 'PNId', 'PNIm', 'PNIs', 'Pmax', 'Pmean', 'SpO2',
       'SvO2 (m)', 'Temp', 'VT'],
      dtype='object')

In [9]:
list_ECMO = [col for col in data_static.columns if 'ECMO' in col]

In [10]:
list_ECMO

['preoperative_ECMO']

**Take all variables**

In [26]:
df_static = pd.read_csv(PATH_STATIC_CLEAN)
df_dynamic =  pd.read_csv(PATH_DYNAMIC_CLEAN)

In [25]:
print(type(df_static), df_static.shape)

<class 'pandas.core.frame.DataFrame'> (410, 285)

In [27]:
print(type(df_dynamic), df_dynamic.shape)

<class 'pandas.core.frame.DataFrame'> (264543, 39)

In [31]:
df_static.head()

,id_patient,date_transplantation,heure_arrivee_bloc,pathologie,age,sexe,Poids,Taille,other_organ_transplantation,super_urgence,...,P_F_H0,PGD_H0,P_F_end_surgery,PGD_end_surgery,time_last_PF,PDG_h24,PGD_h48,PGD3,date_de_deces,Survival_days_27_10_2018
0,1,2012-01-05,03:00:00,3,49,0,68.0,160,0,0,...,241.538462,E,210.0,2,192,1.0,1.0,1.0,NaN,2463
1,2,2012-01-08,03:15:00,1,42,1,49.0,165,0,0,...,NaN,NaN,304.0,1,158,0.0,0.0,0.0,NaN,2461
2,3,2012-01-11,13:30:00,1,22,1,51.0,173,0,0,...,103.750000,E,222.0,E,141,1.0,0.0,1.0,NaN,2457
3,4,2012-01-15,07:20:00,2,57,0,65.0,152,0,0,...,286.000000,2,453.0,1,102,0.0,0.0,0.0,2016-02-22,1499
4,5,2012-01-17,12:15:00,2,49,0,50.0,160,0,0,...,330.000000,1,192.0,3,124,1.0,1.0,1.0,NaN,2451

In [32]:
df_dynamic.head()

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,...,PNIs,PODmoy,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT
0,145,2014-05-14 02:12:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0,NaN,0.0,0.0
1,145,2014-05-14 02:13:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0,NaN,0.0,0.0
2,145,2014-05-14 02:14:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0,NaN,0.0,0.0
3,145,2014-05-14 02:15:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,100,NaN,0.0,0.0
4,145,2014-05-14 02:16:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,100,NaN,0.0,0.0

### **First split** : ECMO

In [14]:
list_ECMO = [col for col in df_static.columns if 'ECMO' in col]

In [15]:
list_ECMO

['preoperative_ECMO',
 'postoperative_ECMO',
 'only_intraoperative_ECMO',
 'ECMO_during_surgery',
 'ECMO_duration',
 'moment_de_pose_ECMO',
 'cause_ECMO',
 'ECMO',
 'secondary_ECMO',
 'delai_recours_ECMO',
 'Cause_ECMO_secondaire']

In [24]:
df_static['ECMO_during_surgery'].astype('str').value_counts()

0    205
1    205
Name: ECMO_during_surgery, dtype: int64

### **ECMO YES  : Second split** : ECMO weaning test

1) PAM (PAS + 2 x PAD)/3 > 60 mmHg et NORADRENALINE < 1mg/h (pas d'ADRENALINE)
2) ECMO flow < 1L/min (info non disponible)
3) PaO2/FiO2 ratio > 200 with FiO2 = 50%
4) diminution des PAP (s/m/d) -> regarder l'évolution des PAP (Evolution_PAPXXX) : la diminution est un élement positif 
5) regarder dans les commentaires de l'echocardiographie transoesophagienne (Examen_EchographiqueXXX)

In [33]:
#1) PAM (PAS + 2 x PAD)/3 > 60 mmHg (et NORADRENALINE < 1mg/h)

#--> PASm 	mmHg 	Pression artérielle moyenne 	 >60 objectif pendant l'opération // < 40 sévérité de la situation
df_dynamic.loc[:,['id_patient','PASm']].head()

   id_patient  PASm
0         145   0.0
1         145   0.0
2         145   0.0
3         145   0.0
4         145   0.0

In [ ]:
#si pasm n'est pas à 0, est ce que au dessus de 60 ?

In [34]:
df_temp = df_dynamic[df_dynamic['id_patient']==145]

In [42]:
nb_zeros = df_temp['PASm'][df_temp['PASm']==0].count()
nb_non_zero = df_temp['PASm'][df_temp['PASm']>0].count()
nb_ok = df_temp['PASm'][df_temp['PASm']>60].count()
nb_ko = nb_non_zero-nb_ok

In [43]:
(nb_ok/nb_non_zero)*100

97.7671451355662

In [46]:
#noradrenaline
list_1 = [col for col in df_static.columns if 'NORAD' in col]
list_1.append([col for col in df_static.columns if 'adre' in col])
list_1

['NORAD_initiale',
 'NORAD_clampage_cote_1',
 'NORAD_declampage_cote_1',
 'NORAD_clampage_cote_2',
 'NORAD_declampage_cote_2',
 'NORAD_fermeture',
 ['adrenaline_perop', 'adre_end_surgery']]

In [47]:
df_static['NORAD_fermeture'].head()

0    0.5
1    1.2
2    2.0
3    0.2
4    2.5
Name: NORAD_fermeture, dtype: float64

In [48]:
df_static['adre_end_surgery'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: adre_end_surgery, dtype: float64