In [268]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
from datetime import timedelta
%matplotlib inline

In [269]:
from transplant.config import *

In [3]:
dataset = Dataset()

In [4]:
train, test = dataset.get_static()
data_static = pd.concat([train, test])

/home/karine/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
train, test = dataset.get_dynamic()
data_dynamic= pd.concat([train, test])

In [6]:
data_static.head()

,ATCD_chirugicaux,ATCD_medicaux,Age_donor,Aspirations_donor,BMI_donor,CMV_donneur,CMV_receveur,Donneur_CPT,EBV_donneur,Insuffisance_renale,...,preoperative_mechanical_ventilation,preoperative_pulmonary_hypertension,preoperative_vasopressor,retransplant,sexe,super_urgence,target,thoracic_surgery_history,time_on_waiting_liste,transplanted_twice_during_study_period
194,Non,Mucoviscidose diagnostiquée à l'âge de 12 ans ...,45,3,25.351541,Positif,Positif,6650.0,NaN,0,...,0.0,0.0,0.0,0,0,0,1.0,0,32,0
313,NaN,ep 2012 \nRGO,60,1,NaN,Négatif,Positif,5100.0,Positif,0,...,0.0,0.0,0.0,0,1,0,0.0,0,18,0
52,- appendicectomie\n- reprise de cicatrices de ...,"- Mucoviscidose homozygote DeltaF508, DDB et i...",21,1,20.569330,Négatif,Négatif,6100.0,NaN,0,...,0.0,1.0,0.0,0,0,0,1.0,1,16,0
132,Appendicectomie,Mucoviscidose découverte à l'âge de 11 ans. Ox...,52,1,24.930748,Négatif,Positif,8100.0,NaN,0,...,0.0,0.0,0.0,0,1,0,1.0,0,44,0
22,NaN,- mucoviscidose homozygote DeltaF508 diagnosti...,20,3,29.150514,NaN,NaN,7400.0,NaN,0,...,0.0,1.0,0.0,0,0,0,0.0,0,6,0

In [7]:
data_static.columns

Index(['ATCD_chirugicaux', 'ATCD_medicaux', 'Age_donor', 'Aspirations_donor',
       'BMI_donor', 'CMV_donneur', 'CMV_receveur', 'Donneur_CPT',
       'EBV_donneur', 'Insuffisance_renale', 'LAS', 'PAPS', 'PFO', 'PF_donor',
       'Poids', 'Poids_donor', 'RX_donor', 'Sex_donor', 'Tabagisme_donor',
       'Taille', 'Taille_donor', 'age', 'body_mass_index',
       'date_transplantation', 'diabetes', 'heure_arrivee_bloc', 'id_patient',
       'other_organ_transplantation', 'oto_score', 'pathologie',
       'plasmapherese', 'preoperative_ECMO', 'preoperative_ICU',
       'preoperative_mechanical_ventilation',
       'preoperative_pulmonary_hypertension', 'preoperative_vasopressor',
       'retransplant', 'sexe', 'super_urgence', 'target',
       'thoracic_surgery_history', 'time_on_waiting_liste',
       'transplanted_twice_during_study_period'],
      dtype='object')

In [8]:
data_dynamic.columns

Index(['id_patient', 'time', 'B.I.S', 'BIS SR', 'DC', 'ETCO2', 'FC', 'FR',
       'FiO2', 'PAPdia', 'PAPmoy', 'PAPsys', 'PASd', 'PASm', 'PASs',
       'PEEPtotal', 'PNId', 'PNIm', 'PNIs', 'Pmax', 'Pmean', 'SpO2',
       'SvO2 (m)', 'Temp', 'VT'],
      dtype='object')

In [9]:
list_ECMO = [col for col in data_static.columns if 'ECMO' in col]

In [10]:
list_ECMO

['preoperative_ECMO']

**Take all variables**

In [11]:
df_static = pd.read_csv(PATH_STATIC_CLEAN)
df_dynamic =  pd.read_csv(PATH_DYNAMIC_CLEAN)

In [12]:
print(type(df_static), df_static.shape)

<class 'pandas.core.frame.DataFrame'> (410, 285)

In [13]:
print(type(df_dynamic), df_dynamic.shape)

<class 'pandas.core.frame.DataFrame'> (264543, 39)

In [14]:
df_static.head()

,id_patient,date_transplantation,heure_arrivee_bloc,pathologie,age,sexe,Poids,Taille,other_organ_transplantation,super_urgence,...,P_F_H0,PGD_H0,P_F_end_surgery,PGD_end_surgery,time_last_PF,PDG_h24,PGD_h48,PGD3,date_de_deces,Survival_days_27_10_2018
0,1,2012-01-05,03:00:00,3,49,0,68.0,160,0,0,...,241.538462,E,210.0,2,192,1.0,1.0,1.0,NaN,2463
1,2,2012-01-08,03:15:00,1,42,1,49.0,165,0,0,...,NaN,NaN,304.0,1,158,0.0,0.0,0.0,NaN,2461
2,3,2012-01-11,13:30:00,1,22,1,51.0,173,0,0,...,103.750000,E,222.0,E,141,1.0,0.0,1.0,NaN,2457
3,4,2012-01-15,07:20:00,2,57,0,65.0,152,0,0,...,286.000000,2,453.0,1,102,0.0,0.0,0.0,2016-02-22,1499
4,5,2012-01-17,12:15:00,2,49,0,50.0,160,0,0,...,330.000000,1,192.0,3,124,1.0,1.0,1.0,NaN,2451

In [15]:
df_dynamic.head()

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,...,PNIs,PODmoy,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT
0,145,2014-05-14 02:12:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0,NaN,0.0,0.0
1,145,2014-05-14 02:13:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0,NaN,0.0,0.0
2,145,2014-05-14 02:14:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,0,NaN,0.0,0.0
3,145,2014-05-14 02:15:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,100,NaN,0.0,0.0
4,145,2014-05-14 02:16:00,0.0,0.0,NaN,0.0,0.0,0.0,NaN,21.0,...,0.0,NaN,0.0,0.0,0.0,0.0,100,NaN,0.0,0.0

# First Node : ECMO

In [16]:
list_ECMO = [col for col in df_static.columns if 'ECMO' in col]

In [17]:
list_ECMO

['preoperative_ECMO',
 'postoperative_ECMO',
 'only_intraoperative_ECMO',
 'ECMO_during_surgery',
 'ECMO_duration',
 'moment_de_pose_ECMO',
 'cause_ECMO',
 'ECMO',
 'secondary_ECMO',
 'delai_recours_ECMO',
 'Cause_ECMO_secondaire']

In [18]:
df_static['ECMO_during_surgery'].astype('str').value_counts()

0    205
1    205
Name: ECMO_during_surgery, dtype: int64

In [44]:
df_static['ECMO_during_surgery'][df_static['id_patient']==145].values[0]==0

True

In [42]:
def split_ECMO_during_surgery(data,id_patient):
    """
    Return boolean 
    True : presence of ECMO during surgery
    False : absence of ECMO during surgery
    """
    return data['ECMO_during_surgery'][data['id_patient']==id_patient].values[0]==1

In [43]:
split_ECMO_during_surgery(df_static,145)

False

In [104]:
print(df_static['ECMO_during_surgery'].count(),df_static['ECMO_during_surgery'].shape[0])

410 410

## ECMO YES  ->  Second node : ECMO weaning test

1) PAM (PAS + 2 x PAD)/3 > 60 mmHg et NORADRENALINE < 1mg/h (pas d'ADRENALINE)   
--> modif morgan ok si la norad a suffisamment baissé 

2) ECMO flow < 1L/min (info non disponible)

3) PaO2/FiO2 ratio > 200 with FiO2 = 50%  
--> modif morgan : on peut ne pas prendre en compte le  FiO2 = 50%   

4) diminution des PAP (s/m/d) -> regarder l'évolution des PAP (Evolution_PAPXXX) : la diminution est un élement positif  
--> modif morgan : on peut regarder seulement evol de PAPm :  
                   si > val normalité --> pas bon,   
                   si < 30 --> ok  
                   si entre les 2 seuils : regarder si ça a suffisamment baissé
                   
5) regarder dans les commentaires de l'echocardiographie transoesophagienne (Examen_EchographiqueXXX)

1) PAM (PAS + 2 x PAD)/3 > 60 mmHg (et NORADRENALINE < 1mg/h)  
--> PASm 	mmHg 	Pression artérielle moyenne 	 >60 objectif pendant l'opération // < 40 sévérité de la situation

In [82]:
df_dynamic.loc[:,['id_patient','PASm']].head()

   id_patient  PASm
0         145   0.0
1         145   0.0
2         145   0.0
3         145   0.0
4         145   0.0

In [20]:
#si pasm n'est pas à 0, est ce que au dessus de 60 ?

In [188]:
df_temp = df_dynamic[df_dynamic['id_patient']==145]

In [22]:
nb_zeros = df_temp['PASm'][df_temp['PASm']==0].count()
nb_non_zero = df_temp['PASm'][df_temp['PASm']>0].count()
nb_ok = df_temp['PASm'][df_temp['PASm']>60].count()
nb_ko = nb_non_zero-nb_ok

In [47]:
df_dynamic['PASm'][(df_dynamic['id_patient']==145)&(df_dynamic['PASm']!=0)].count()

628

In [49]:
nb_non_zero

627

In [23]:
(nb_ok/nb_non_zero)*100

97.7671451355662

In [106]:
print(df_dynamic['PASm'].count(),df_dynamic['PASm'].shape[0])

260782 264543

In [201]:
def time_offset_dynamic(df, time_offset=60):
    """
    PB : on regarde seulement les variables à la fin de l'opération et non pendant toute la chirurgie
    """
    df['time']= pd.to_datetime(df['time'])
    date_min = df['time'].max() - timedelta(minutes=time_offset)
    return df[df['time'] >= date_min]

In [266]:
def test_PASm_sup(data, id_patient, threshold=90, obj=60):
    """
    ECMO weaning test - test1 a
    Return boolean
    True : at the end of surgery (time_offset, when PASm not equal 0, at least (threshold)% of the values are > 60
    False : during surgery, when PASm not equal 0, more than (100-threshold)% of the values are <= 60
    """
    df = time_offset_dynamic(data[data['id_patient']==id_patient])
    non_zeros = df['PASm'][df['PASm']!=0].count()
    nb_ok = df['PASm'][df['PASm']>obj].count()
    return (nb_ok/non_zeros)*100>threshold

In [267]:
test_PASm_sup(df_dynamic,12,90, obj=60)

/home/karine/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

True

In [24]:
#noradrenaline < 1mg/h
list_1 = [col for col in df_static.columns if 'NORAD' in col]
list_1.append([col for col in df_static.columns if 'adre' in col])
list_1

['NORAD_initiale',
 'NORAD_clampage_cote_1',
 'NORAD_declampage_cote_1',
 'NORAD_clampage_cote_2',
 'NORAD_declampage_cote_2',
 'NORAD_fermeture',
 ['adrenaline_perop', 'adre_end_surgery']]

In [25]:
df_static['NORAD_fermeture'].head()

0    0.5
1    1.2
2    2.0
3    0.2
4    2.5
Name: NORAD_fermeture, dtype: float64

In [52]:
df_static['NORAD_declampage_cote_2'].head()

0    1.8
1    1.8
2    2.4
3    0.5
4    2.0
Name: NORAD_declampage_cote_2, dtype: float64

In [107]:
print(df_static['NORAD_fermeture'].count(),df_static['NORAD_fermeture'].shape[0])

376 410

In [117]:
def Sufficient_decline(declampage_2,fermeture, decline=1/3, epsilon = 0.001):
    if fermeture > declampage_2:
        return False
    delta = declampage_2 - fermeture
    #grande diminution delta < (1/3)*declampage_2
    if delta < decline*declampage_2:
        return True
    #autour de 1/3 ou pas
    return np.abs(delta - decline*declampage_2)<= epsilon

In [112]:
print(Sufficient_decline(1.8,1.2, epsilon = 0.001))
print(Sufficient_decline(1.8,np.nan, epsilon = 0.001))
print(Sufficient_decline(np.nan, 1.2, epsilon = 0.001))

True
False
False

In [72]:
def test_noradrenaline(data,id_patient):
    
    """
    ECMO weaning test - test1 b
    return boolean
    True : noradrenaline <1mg/h OU noradrenaline <1.5 avec une baisse entre NORAD_declampage_cote_2 et NORAD_fermeture
    False : ^True
    """
    if data['NORAD_fermeture'][data['id_patient']==id_patient].values[0] >= 1.5:
        return False
    elif data['NORAD_fermeture'][data['id_patient']==id_patient].values[0] < 1:
        return True
    else : 
        return Sufficient_decline(data['NORAD_declampage_cote_2'][data['id_patient']==id_patient].values[0],
                                  data['NORAD_fermeture'][data['id_patient']==id_patient].values[0],
                                  decline=1/3, epsilon = 0.001)

In [73]:
df_static[df_static['id_patient']==145].loc[:,['NORAD_declampage_cote_2','NORAD_fermeture']]

     NORAD_declampage_cote_2  NORAD_fermeture
144                      0.0              4.0

In [74]:
test_noradrenaline(df_static,145)

False

2) ECMO flow < 1L/min (info non disponible) ?

3) PaO2/FiO2 ratio > 200

In [84]:
[col for col in df_static.columns if 'fermeture' in col]

['FiO2_fermeture',
 'PH_fermeture',
 'PAPS_fermeture',
 'PA_fermeture',
 'VT_fermeture',
 'PaCO2_fermeture',
 'PAPM_fermeture',
 'FC_fermeture',
 'Fr_fermeture',
 'PaO2_fermeture',
 'PAPD_fermeture',
 'NORAD_fermeture',
 'PEEP_fermeture',
 'Bicarbonates_fermeture',
 'NO_fermeture',
 'Evolution_fermeture',
 'SvO2_fermeture',
 'Lactates_fermeture',
 'Ic_fermeture',
 'Hb_fermeture',
 'Qc_fermeture',
 'Fibroscopie_fermeture',
 'Peridurale_fermeture',
 'Fibrinogene_fermeture',
 'Diurese_fermeture',
 'Drains_D_fermeture',
 'Drains_G_fermeture',
 'Albumine 20% fermeture']

In [85]:
df_static['PaO2_fermeture'].head()

0    181.0
1    152.0
2    178.0
3    453.0
4     96.0
Name: PaO2_fermeture, dtype: float64

In [86]:
df_static['FiO2_fermeture'].head()

0    0.65
1    0.50
2    0.80
3    1.00
4    0.50
Name: FiO2_fermeture, dtype: float64

In [88]:
df_static['FiO2_fermeture'].describe()

count    404.000000
mean       1.039604
std        4.940995
min        0.350000
25%        0.500000
50%        1.000000
75%        1.000000
max      100.000000
Name: FiO2_fermeture, dtype: float64

In [89]:
(df_static['PaO2_fermeture']/df_static['FiO2_fermeture']).head()

0    278.461538
1    304.000000
2    222.500000
3    453.000000
4    192.000000
dtype: float64

In [144]:
def test_ratio_pao2_fio2(data,id_patient,obj):
    """
    ECMO weaning test - test3
    return bool
    True : PaO2/FiO2 ratio > obj
    """
    ratio = data['PaO2_fermeture'][data['id_patient']==id_patient].values[0] / data['FiO2_fermeture'][data['id_patient']==id_patient].values[0]
    return ratio >= obj

In [145]:
test_ratio_pao2_fio2(df_static, 145, 300)

True

In [146]:
df_static[df_static['id_patient']==145].loc[:,['PaO2_fermeture','FiO2_fermeture']]

     PaO2_fermeture  FiO2_fermeture
144           376.0             1.0

4) diminution des PAPM-> normalité et diminution

In [96]:
df_static['PAPM_fermeture'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: PAPM_fermeture, dtype: float64

In [102]:
print(df_static['PAPM_fermeture'].count(),df_static['PAPM_fermeture'].shape[0])
print(df_static['PAPM_declampage_cote_2'].count(),df_static['PAPM_declampage_cote_2'].shape[0])

212 410
228 410

In [113]:
print(df_static['PAPS_fermeture'].count(),df_static['PAPS_fermeture'].shape[0])
print(df_static['PAPS_declampage_cote_2'].count(),df_static['PAPS_declampage_cote_2'].shape[0])

294 410
301 410

In [103]:
print(df_static['PAPD_fermeture'].count(),df_static['PAPD_fermeture'].shape[0])
print(df_static['PAPD_declampage_cote_2'].count(),df_static['PAPD_declampage_cote_2'].shape[0])

287 410
298 410

In [115]:
def test_PAP_evolution(data,id_patient):
    """
    ECMO weaning test - test 4
    return bool
    True : If PAPS, PAPM, PAPD decrease 
    Att : bcp nan PAPm -> regarder PAPs
    if nan return False
    """
    if data['PAPS_fermeture'][data['id_patient']==id_patient].values[0] < 30:
        return True
    elif data['PAPS_fermeture'][data['id_patient']==id_patient].values[0] >= 50:
        return False
    else :
        return Sufficient_decline(data['PAPS_declampage_cote_2'][data['id_patient']==id_patient].values[0],
                                  data['PAPS_fermeture'][data['id_patient']==id_patient].values[0],
                                  decline=1/3, epsilon = 0.001)

In [118]:
test_PAP_evolution(df_static,145)

False

In [119]:
df_static[df_static['id_patient']==145].loc[:,['PAPS_declampage_cote_2','PAPS_fermeture']]

     PAPS_declampage_cote_2  PAPS_fermeture
144                    26.0            32.0

In [140]:
def split_ECMO_weaning_test(data,id_patient):
    """
    Return boolean 
    """
    sum_True = test_PASm_sup(data, id_patient, threshold=90, obj=60) + test_noradrenaline(data,id_patient) + test_ratio_pao2_fio2(data,id_patient,obj=200) + test_PAP_evolution(data,id_patient)
    return sum_True == 4

## ECMO YES + ECMO weaning test = Success -> THIRD NODE : INO weaning test

INO weaning test

- augmentation du rapport PaO2/FiO2 ou de la SpO2  
-> vu avec morgan : si au dessus de 300 ok meme si n'augmente pas
-> entre 100 et 300 on regarde si evolution  
- diminution des PAP (s/m/d) -> regarder l'évolution des PAP (Evolution_PAPXXX) : la diminution est un élement positif
- regarder dans les commentaires de l'echocardiographie transoesophagienne (Examen_EchographiqueXXX) :

In [126]:
(df_static['PaO2_fermeture']/df_static['FiO2_fermeture']).head()

0    278.461538
1    304.000000
2    222.500000
3    453.000000
4    192.000000
dtype: float64

In [128]:
(df_static['PaO2_declampage_cote_2']/df_static['FiO2_declampage_cote2']).head()

0    241.538462
1           NaN
2    103.750000
3    286.000000
4    330.000000
dtype: float64

In [129]:
(df_static['PaO2_fermeture']/df_static['FiO2_fermeture'] - df_static['PaO2_declampage_cote_2']/df_static['FiO2_declampage_cote2']).head()

0     36.923077
1           NaN
2    118.750000
3    167.000000
4   -138.000000
dtype: float64

In [130]:
(df_static['PaO2_fermeture']/df_static['FiO2_fermeture'] - df_static['PaO2_declampage_cote_2']/df_static['FiO2_declampage_cote2']).shape[0]

410

In [131]:
(df_static['PaO2_fermeture']/df_static['FiO2_fermeture'] - df_static['PaO2_declampage_cote_2']/df_static['FiO2_declampage_cote2']).count()

339

In [142]:
def test_augm_ratio_pao2_fio2(data,id_patient):
    """
    INO weaning test - test1
    return bool
    """
    if test_ratio_pao2_fio2(data,id_patient,obj=300):
        return True
    ratio_fermeture = data['PaO2_fermeture'][data['id_patient']==id_patient].values[0] / data['FiO2_fermeture'][data['id_patient']==id_patient].values[0]
    ratio_declampage_cote_2 = data['PaO2_declampage_cote_2'][data['id_patient']==id_patient].values[0] / data['FiO2_declampage_cote2'][data['id_patient']==id_patient].values[0]
    return ratio_fermeture - ratio_declampage_cote_2 > 0

In [147]:
test_augm_ratio_pao2_fio2(df_static,145)

True

In [139]:
def split_INO_weaning_test(data,id_patient):
    """
    Return boolean 
    """
    sum_True = test_augm_ratio_pao2_fio2(data,id_patient, threshold) + test_PAP_evolution(data,id_patient)
    return sum_True == 2

### ECMO YES + ECMO weaning test = Success  + INO weaning test = Sucess

 - PaO2/FiO2 < 300 OR  absence of extubation criteria  
 vs 
 - PaO2/FiO2 < 300 AND  presence of extubation criteria

In [149]:
def split_ratio_test(data, id_patient):
    return test_ratio_pao2_fio2(data,id_patient,obj=300)

**ECMO YES + ECMO weaning test = Success  + INO weaning test = Sucess + ratio_test = fail**

## NIV attempt

- patient Tºc > 36ºc 
- décurarisé TOF > 90%  
-> vu avec Morgan : NMT ratio > 50%   
- hémostase clinique et biologique satisfaisante
- stabilité hémodynamique (PAM (PAS + 2 x PAD)/3 > 60 mmHg et NORADRENALINE < 1mg/h (pas d'ADRENALINE), lactatémie < 2mmol/L)
- rapport PaO2/FiO2 > 300

In [152]:
[col for col in df_static.columns if 'temp' in col.lower()]

[]

In [153]:
[col for col in df_dynamic.columns if 'temp' in col.lower()]

['Temp']

In [227]:
def temperature_test(data,id_patient,threshold=90):
    """
    Niv attempt - test1
    return bool
    """
    df = time_offset_dynamic(data[data['id_patient']==id_patient])
    non_zeros = df['Temp'][df['Temp']!=0].count()
    nb_ok = df['Temp'][df['Temp']>36].count()
    return (nb_ok/non_zeros)*100>threshold

In [229]:
temperature_test(df_dynamic,3,threshold=90)

/home/karine/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

True

In [161]:
print([col for col in df_static.columns if 'nmt' in col.lower()])
print([col for col in df_dynamic.columns if 'nmt' in col.lower()])

[]
['NMT TOF', 'NMTratio']

In [264]:
def NMT_test(data,id_patient,threshold=70): #threshold ok ou trop severe
    """
    Niv attempt - test2
    return bool
    """
    df = time_offset_dynamic(data[data['id_patient']==id_patient])
    non_zeros = df['NMTratio'][df['NMTratio']!=0].count()
    nb_ok = df['NMTratio'][df['NMTratio']>50].count() 
    return (nb_ok/non_zeros)*100>=threshold

In [270]:
def split_INO_weaning_test(data,id_patient):
    """
    Return boolean 
    """
    sum_True = temperature_test(data,id_patient,threshold=90) +NMT_test(data,id_patient,threshold=70) + test_PASm_sup(data, id_patient, threshold=90, obj=60) + test_noradrenaline(data,id_patient) + test_ratio_pao2_fio2(data,id_patient,obj=300)
    return sum_True == 5

### ECMO YES + ECMO weaning test = Success  + INO weaning test = Fail

## FIRST NODE : ECMO YES + ECMO weaning test = Fail ->

## FIRST NODE : ECMO NO